


/* .nav-link:hover {
   text-decoration: underline !important;
  text-decoration-color:#ffc107 !important; 
} */

.nav-active {
  background-color: #ffc107 !important;
  color: #fff !important;
  border-radius: 45px;

}